<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <div class="font-light" style="padding-left: 1vw; font-size: 1.5vw;">Internet of Things dashboard</div>
  </a>
</nav>

<div class="container background">
  <div class="row row-settings">
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="value"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="value"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="value"></app-simple-value-holder>
    </div>
  </div>
  <div class="row row-settings">
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="value"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="value"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="value"></app-simple-value-holder>
    </div>
  </div>
</div>