<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <div class="font-light" style="padding-left: 1vw; font-size: 1.5vw;">Internet of Things dashboard</div>
    <div class="timestamp-container"><div class="header-timestamp font-light" style="padding-left: 1vw; font-size: 0.8vw;">Laats bijgewerkt:  {{pad(globalMeasurement.timestamp.time.hour, 2)}}:{{pad(globalMeasurement.timestamp.time.minute, 2)}} {{pad(globalMeasurement.timestamp.date.day, 2)}}-{{pad(globalMeasurement.timestamp.date.month, 2)}}-{{globalMeasurement.timestamp.date.year}}</div></div>
    
  </a>
</nav>

<div class="container background">
  <div class="row row-settings">
    <div class="col">
      <app-simple-value-holder label="Temperatuur °C" [value]="(globalMeasurement.temperature).toString()" [trend]="(globalMeasurement.temperatureTrend)"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder label="Luchtvochtigheid %" [value]="(globalMeasurement.humidity).toString()" [trend]="(globalMeasurement.humidityTrend)"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder *ngIf="globalMeasurement.dhtStatus === true; else passiveDht" label="Status DHT" value="Actief"></app-simple-value-holder>
    </div>
  </div>
  <div class="row row-settings">
    <div class="col">
      <app-simple-value-holder label="Momentale gebruik kW" [value]="(globalMeasurement.currentInstantaneousPowerUsed).toFixed(1)"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder label="Kosten €" [value]="(globalMeasurement.totalCost).toFixed(2)"></app-simple-value-holder>
    </div>
    <div class="col">
      <app-simple-value-holder *ngIf="globalMeasurement.smartMeterStatus === true; else passiveSmartMeter" label="Status slimme meter" value="Actief"></app-simple-value-holder>
    </div>
  </div>
  <div class="row row-settings">
    <app-graph [values]="(globalMeasurement.powerOverHours)" label="gebruik laatste uren"></app-graph>
  </div>
</div>

<ng-template #passiveSmartMeter>
  <app-simple-value-holder label="Status slimme meter" value="Inactief"></app-simple-value-holder>
</ng-template>

<ng-template #passiveDht>
  <app-simple-value-holder label="Status DHT" value="Inactief"></app-simple-value-holder>
</ng-template>